<h1>Amministratori</h1>

<dl class="dl-admins">
  <% @walls.each do |wall| %>  
    <dt><%= wall %> <%= link_to icon('external-link'), wall %></dt> 
    <% wall.admins.each do |admin| %>  
      <dd><%= admin %> <%= link_to_delete admin_path(admin) %></dd>
    <% end %>
    <dd><%= link_to icon('plus') + ' nuovo amministratore', new_wall_admin_path(wall) %></dd>
  <% end %>
</dl>
