<div class="container">
<%= form_tag search_path, remote: true, id: 'search-form', class: 'form-inline centered' do %>  
  <div class="input-group">
    <input class="typeahead form-control" type="search" name="search_string" placeholder="<%= t :choose_city %>" /> 
    <span class="input-group-btn">
      <input type="submit" value="cerca" class="btn btn-default"/> 
    </span>
  </div>
<% end %>

<% if @province %>  
  <h2><%= @province %></h2>
  <%= render partial: 'home/walls'  %>
<% end %>

<h2 class="centered"><%= t :events %></h2>

<div class="row">
  <% group_in_4(@events).each do |event_group|%>  
    <div class="col-md-3">
      <% event_group.each do |event| %>  
        <%= render event %>
      <% end %>
    </div>
  <% end %>
</div>

<h2><center><%= t :walls %></center></h2>
</div><!-- container -->


<div class="home-map" style="border: 4px double #000">
  <%= render partial: 'main_google_map' %>  
</div>

