<div class="home-container row">
<div class="col-md-6"> 
  <h2><%= t :search  %></h2>
  <%= render partial: 'typeahead_province' %>  
</div>
<div class="col-md-6">
  <h2><%= t :events %></h2>
  <% @events.each do |event|%>  
    <%= render event %>  
  <% end %>
</div>
</div><!-- home-container -->

<div class="home-map">
  <%= render partial: 'main_google_map' %>  
</div>

