<div class="event-container" style="background-color: <%= event_bg_color %>" data-url="<%= event_path(event) %>">
<h3 class="event-date">
  <%= event.start_date.day %><br/>
  <small><%= event.start_date.strftime("%b") %></small><br/>
  <small><%= event.start_date.year %></small>
</h3>
<div class="event-body">
  <h3 class="event-head">
    <p class='city'><%= event.wall.city %></p>
    <p><%= event.name %></p>
  </h3>
  <div class="event-image">
    <% if photo = event.photos.first %>  
      <%= image_tag(photo.image.thumb.url) %>
    <% end %>
  </div>
  <div class="event-body">
    <h4><%= event.wall %></h4>
    <p><i><%= event.description %></i>
    <% if current_user and current_user.owns?(event) %>  
      <%= link_to_edit([:edit, event]) %>
      <%= link_to_delete event_path(event) %>
    <% end %>
    </p>
  </div>
</div>
</div>
