<div class="media">
  <div class="media-right">
    <% if photo = event.photos.first %>  
    <%= link_to image_tag(photo.image.thumb.url, class: "media-object img-rounded"), event %>
  <% end %>
  </div>
  <div class="media-body">
    <h3 class="media-heading"><%= event.name %> <%= link_to_edit([:edit, event]) if current_user.owns?(event) %></h3>
    <p>
    <%= l event.start_date %>:<br/>   <%= event.description %>
    <%= link_to '[...]', event %>  
    </p>
  </div>
</div>
