<div class="container">
<h1><%= @event.wall %> <%= link_to_edit([:edit, @event]) if current_user_owns?(@event) %></h1>

<div class="well">
  <%= @event.description %>  
</div>

<div>
  <%= raw @event.description_long %>  
</div>

<% @event.photos.each do |photo| %>  
  <%= image_tag photo.image.thumb.url %> 
<% end %>
</div>
