<div class="wall-form">
<%= horizontal_form_for wall do |f| %>  
  <%= f.dm_error_notification %>  
  <%= f.input :name %>  
  <%= f.input :address %>  
  <%= f.input :cap %>  
  <%= f.input :city %>  
  <%= f.association :province, include_blank: false %>  
  <%= f.input :web %>  
  <%= f.input :contact %>  
  <%= f.submit %>  
<% end %>
</div>

