<div class="wall-form">
<%= horizontal_form_for @wall do |wall| %>  
  <%= wall.dm_error_notification %>  
  <%= wall.input :name %>  
  <%= wall.input :address %>  
  <%= wall.input :cap %>  
  <%= wall.input :city %>  
  <%= wall.association :province, include_blank: false %>  
  <%= wall.input :web %>  
  <%= wall.input :contact %>  
  <%= wall.submit %>  
<% end %>
</div>

