<div class="wall-form">
<%= horizontal_form_for @wall do |wall| %>  
  <div class="row">
    <div class="col-md-6">
      <h2>Boulder</h2>
      <%= wall.input :boulder_mq %>  
      <%= wall.input :boulder_notes %>  
    </div>
    <div class="col-md-6">
      <h2>Corda</h2>
      <%= wall.input :rope_mq %>  
      <%= wall.input :rope_notes %>  
    </div>
  </div>

    <h2>Dettagli</h2>
    <%= wall.input :prices, as: :text %>  
    <%= wall.input :training %>  
    <%= wall.input :bar %>  
    <%= wall.input :music %>  

    <%= wall.submit %>  
  <% end %>
  </div>

