<div class="wall-form">
<%= horizontal_form_for @wall do |wall| %>  
  <h2>Descrizione</h2>

  <%= tinymce_assets %>
  <%= wall.input :description, as: :text, label: false, input_html: {class: 'tinymce', rows: 10} %>  
  <%= tinymce language: "it" %>

  <div class="row">
    <div class="col-md-4">
      <h2>Boulder</h2>
      <%= wall.input :boulder_mq %>  
      <%= wall.input :boulder_notes %>  
    </div>
    <div class="col-md-4">
      <h2>Corda</h2>
      <%= wall.input :rope_mq %>  
      <%= wall.input :rope_notes %>  
    </div>
    <div class="col-md-4">
      <h2>Dettagli</h2>
      <%= wall.input :training %>  
      <%= wall.input :bar %>  
      <%= wall.input :music %>  
    </div>
  </div>
  <p class="centered">
  <%= wall.submit %> - <%= link_to_back wall_path(@wall)  %>  
  </p>

  <%# <%= wall.input :prices, as: :text %1> %>  

<% end %>
</div>

