<%= horizontal_form_for [wall, Photo.new] do |photo| %>  
  <%= photo.input :image, as: :file, label: 'Nuova Foto' %>  
  <%= photo.input :remote_image_url, label: "Scarica la foto dall'indirizzo" %>  
  <%= photo.input :importance, collection: Photo.importaces, label_method: -> (x) {I18n.t x[0]},  as: :radio_buttons %>  
  <%= photo.submit %>  
<% end %>
<div class="row">
  <% wall.photos.each do |photo| %>  
    <div class="col-xs-6 col-md-2">
      <div class='thumbnail'>
        <%= image_tag photo.image.url %>  
      </div>
      <div class="caption">
        importanza: <%= photo.importance %>  
      <%= link_to_delete photo_path(photo) %>  
      </div>
    </div>
  <% end %>
</div>

