<%= simple_form_for [@wall, @opening] do |opening| %>  
  <div class="row">
    <div class="col-md-4">
      <label>Giorni</label>
      <p>
      <% I18n.t(:"date.day_names").each_with_index do |day, i| %>  
        <input name="wday" type="radio" value="<%= day %>" /> <%= day %> <br/>
      <% end %>
      </p>
    </div>
    <div class="col-md-4">
      dalle
      <%= select_hour field_name: :start_hour, class: 'form-control time optional' %>  
      alle
      <%= opening.input :time_close, as: :time %>  
    </div>
  </div>
<% end %>
