<div>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#anagrafica"  aria-controls="anagrafica"  role="tab" data-toggle="tab">Anagrafica</a></li>
  <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Descrizione</a></li>
  <li role="presentation"><a href="#details"     aria-controls="details"     role="tab" data-toggle="tab">Dettagli</a></li>
  <li role="presentation"><a href="#openings"    aria-controls="openings"    role="tab" data-toggle="tab">Orari aperture</a></li>
  <li role="presentation"><a href="#images"      aria-controls="images"      role="tab" data-toggle="tab">Immagini</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content" style="margin: 30px;">
  <div role="tabpanel" class="tab-pane active" id="anagrafica">
    <%= render partial: 'main_form' %>  
  </div>
  <div role="tabpanel" class="tab-pane" id="description">
    <%= render partial: 'description_form' %>  
  </div>
  <div role="tabpanel" class="tab-pane" id="details">
    <%= render partial: 'form' %>  
  </div>
  <div role="tabpanel" class="tab-pane" id="openings">
    <%= render partial: 'openings/form', locals: {wall: @wall} %>  
  </div>
  <div role="tabpanel" class="tab-pane" id="images">
    <%= render partial: 'images_form', locals: {wall: @wall} %>  
  </div>
</div>
