<div id="show_wall">
<div class="row">
  <div class="col-md-4">
    <p class="centered">
    <%= link_to(fwicon('external-link') + ' pagina web ufficiale', @wall.web) unless @wall.web.blank? %><br/>
    <%= link_to_edit 'modifica', [:edit, @wall] if current_user && current_user.owns?(@wall) %>
    </p>
    <iframe id="wall_map" src="<%= simple_gmap_url(@wall.gmap_address) %>"></iframe>
    <p class="centered">
    <%= @wall.address %> <br/> 
    <%= @wall.cap %> <%= @wall.city %> <br/>
    <%= link_to @wall.province.name, root_path + @wall.province.name %> 
    </p>

    <h2>Eventi e news</h2>

    <%= render @wall.events %>

    <div id="wall_photos">
      <% @wall.photos.each do |photo| %>  
        <%= image_tag photo.image.thumb.url %> 
      <% end %>
    </div><!-- wall_photos -->
  </div>
  <div class="col-md-8">

    <% unless @wall.verified %>  
      <div class="unverified">
        <p><%= icon('frown-o', size: 48) %></p>
        <p>Questa palestra non ha ancora un amministratore<br/> che si prenda cura di lei, poverina.</p>
        <p><%= link_to 'Sono proprietario di questa palestra', own_wall_path(@wall), class: 'btn btn-primary btn-lg' %></p>
      </div>
    <% end %><!-- unverified -->

    <% unless @wall.description.blank?  %>  
      <div class='wall-description'>
        <%= raw @wall.description %>
      </div>
    <% end %>

    <h2>Dettagli</h2>
    <%= details_bar(@wall) %> 

    <h2>Aperture</h2>
    <dl class="dl-horizontal" id="openings_dl">
      <dt><%= fwicon('calendar') %></dt>  
      <% @wall.openings.each do |opening| %>  
        <dd><span><%= opening.wday_to_s %></span><%= opening.hours_to_s %></dd>
      <% end %>
    </dl>
    <div class="clearfix">...</div>

    <center>
      <p><%= link_to icon('plus-circle') + ' Segnala prossimo evento', new_wall_event_path(@wall), class: 'wall_add_event' %></p>  
    </center>

  </div>
</div>
</div>

