<p class="centered">
  <%= fwicon('external-link') %> <%= link_to 'pagina web ufficiale', @wall.web %>
  <%= link_to_edit 'modifica', [:edit, @wall] if current_user && current_user.owns?(@wall) %>
</p>

<div id="show_wall">
  <iframe id="wall_map" src="<%= simple_gmap_url(@wall.gmap_address) %>"></iframe>

  <div class="container">

    <div class='wall-description'><%= raw @wall.description %></div>

    <div class="wall-details">
      <%= details_bar(@wall) %> 
    </div> 

    <dl class="dl-horizontal">
      <dt><%= fwicon('map-marker') %></dt>
      <dd><%= @wall.address %> - <%= @wall.city %> (<%= @wall.province.sig %>)</dd>
      <dt><%= fwicon('calendar') %></dt>  
      <% @wall.openings.each do |opening| %>  
        <dd><%= opening %></dd>
      <% end %>
    </dl>

    <div class="row">
      <% group_in_4(@wall.events).each do |event_group|%>  
        <div class="col-md-3">
          <% event_group.each do |event| %>  
            <%= render event %>
          <% end %>
        </div>
      <% end %>
    </div>

    <center>
      <p><%= link_to icon('plus-circle') + ' Segnala prossimo evento', new_wall_event_path(@wall), class: 'wall_add_event' %></p>  
    </center>

    <div id="wall_photos">
      <h2>Immagini</h2>
      <% @wall.photos.each do |photo| %>  
        <%= image_tag photo.image.thumb.url %> 
      <% end %>
    </div><!-- wall_photos -->

  </div>
</div>
</div>

<%= javascript_tag do  %>  
  $(function () {
  $('[data-toggle="popover"]').popover()
  })
<% end %>
