<center><h1><%= @wall.name %> <%= link_to_edit [:edit, @wall] %></h1></center>

<div class="wall-main">
  <div class="wall-description">
  <%= raw @wall.description %>  
  </div>
  <div class="wall-gmap">
    <iframe src="<%= simple_gmap_url(@wall.gmap_address) %>"></iframe>
  </div>
</div>

<ul class="wall-circles">
  <%= boulder_presence(@wall) %>
  <%= rope_presence(@wall) %>
  <%= training_presence(@wall) %>
  <%= bar_presence(@wall) %>
  <%= music_presence(@wall) %>
</ul>

<ul>
  <li><%= fwicon('map-marker') %> <%= @wall.address %> - <%= @wall.city %> (<%= @wall.province.sig %>)</li>
  <li><%= fwicon('calendar') %>  
  <ul>
  <% @wall.openings.each do |opening| %>  
    <li><%= opening %></li>
    <% end %>
  </ul>
  </li>
  <li><%= fwicon('external-link') %>  <%= link_to @wall.web, @wall.web %> </li>
  <li><%= fwicon('phone') %>  ----- </li>
</ul>

<div class="row">
  <% @wall.photos.each do |photo| %>  
    <div class="col-xs-6 col-md-2">
      <span class='thumbnail'>
        <%= image_tag photo.image.thumb.url %>  
      </span>
    </div>
  <% end %>
</div>



