<center><h1><%= @wall.name %> <%= link_to_edit [:edit, @wall] %>  </h1></center>

<div class="well">
  <%= raw @wall.description %>  
</div>

<ul class="wall-circles">
  <%= boulder_presence(@wall) %>
  <%= rope_presence(@wall) %>
  <%= training_presence(@wall) %>
  <%= bar_presence(@wall) %>
  <%= music_presence(@wall) %>
</ul>

<ul>
  <li><%= fwicon('map-marker') %> <%= @wall.address %> - <%= @wall.city %> (<%= @wall.province.sig %>)</li>
  <li><%= fwicon('calendar') %>  
  <ul>
  <% @wall.openings.each do |opening| %>  
    <li><%= opening %></li>
    <% end %>
  </ul>
  </li>
  <li><%= fwicon('external-link') %>  <%= link_to @wall.web, @wall.web %> </li>
  <li><%= fwicon('phone') %>  ----- </li>
</ul>

<% @wall.photos.each do |photo| %>  
  <%= image_tag photo.image.thumb.url %>  
<% end %>


