<div class="row">
<div class="col-md-8">
  <p class="alert alert-info">
  È possibile inserire immagini dal proprio computer oppure indicando
  l'indirizzo web da cui prenderle.
  </p>

  <%= simple_form_for [what, Photo.new] do |photo| %>  
    <%= photo.input :image, as: :file %>  
    <%= photo.submit 'Invia foto' %>  

    <br/><br/>

    <%= photo.input :remote_image_url %>  
    <%= photo.submit 'Carica foto' %>  
  <% end %>
</div>
<div class="col-md-4">
  <% what.photos.each do |photo| %>  
    <div class='thumbnail'>
      <%= image_tag photo.image.url %>  
    </div>
    <div class="caption">
      <%= link_to icon('check-square-o') + ' immagine principale', header_image_photo_path(photo), remote: true, method: :put, id: "link_#{photo.id}", class: :button, disabled: (photo.importance == 1) %> -
      <%= link_to icon('trash') + ' elimina', photo_path(photo), method: :delete, class: :button %>
    </div>
  <% end %>
</div>
</div>

