<header class="navbar navbar-default" role="banner">
<div class="container">
  <div class="navbar-header">
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to image_tag('logo.jpg', width: @home_header ? '180px' : '90px'), root_path, class: 'navbar-brand navbar-icon' %>  
  </div><!-- navbar-header -->

  <nav class="collapse navbar-collapse" id="bs-navbar-collapse">
    <%= form_tag search_path, remote: true, id: 'search-form', class: "navbar-form navbar-left" do %>  
      <div class="input-group">
        <input class="typeahead form-control" type="search" name="search_string" placeholder="<%= t :choose_city %>" /> 
        <span class="input-group-btn">
          <input type="submit" value="cerca" class="btn btn-default"/> 
        </span>
      </div>
    <% end %>
      <ul class="nav navbar-nav">
        <li><%= link_to icon(:folder) + ' Muri',  walls_path %></li>  
    <% if current_user %>  
        <li><%= link_to icon('plus')  + ' Nuovo muro', new_wall_path %></li>
        <li><%= link_to(icon('users') + ' Amministratori', admins_path) if current_user.master_of_universe? %></li>
    <% end %>
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <%= logged_user %>
    </ul>
  </nav>
</div><!-- container -->
</header>

<script>
  $(document).ready(function() {
  var provinces = <%= raw Province.provinces_json %>;
  var walls = <%= raw Wall.walls_json %>;

  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;

      // an array that will be populated with substring matches
      matches = [];

      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');

      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });

      cb(matches);
    };
  };

  $('.typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 2}, 
    { name: 'provinces',
      source: substringMatcher(provinces),
      templates: {
        header: '<h3 class="typeahead-header">Dove</h3>' 
      }
    },
    { name: 'walls',
      source: substringMatcher(walls), 
      templates: {
        header: '<h3 class="typeahead-header">Palestre</h3>'
      }
    }).bind("typeahead:selected", function () {
      $(this).submit();
    });
  });
</script>

