<header class="navbar navbar-default" role="banner">
<div class="container">
  <div class="navbar-header">
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to image_tag('muri_dItalia14.png', width: @home_header ? '180px' : '90px'), root_path, class: 'navbar-brand navbar-icon' %>  
  </div><!-- navbar-header -->

  <nav class="collapse navbar-collapse" id="bs-navbar-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to big_icon('home') + ' Home', root_path %></li>
      <li><%= link_to big_icon('plus') + ' Nuovo muro', new_wall_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= logged_user %></li>
    </ul>
  </nav>
</div><!-- container -->
</header>

<%=  privacy_alert %>


