<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Muri d'Italia.">
    <meta name="author" content="Luca and Piider">
    <title>Muri d'Italia</title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/menu' %>

    <% if @home_header %>  
      <div class="home-header">  
        <%# <div class="home-header-invite">Iscriviti al portale per <br/>tutti i muri di Italia.</div> %>
        <div class="home-header-title">
          <span>Cerca la palestra di arrampicata</span><br/>
          <span>più vicina a te</span><br/>
          <span>e a come ti piace.</span>
        </div>
      </div>
    <% end %>

    <div class="container">
      <%= bootstrap_flash %>
      <%= bootstrap_modal_div %>
      <%= yield %>
    </div><!-- container -->

    <div id="footer" role="navigation">
      <div class="container" style="text-align: center">
        <a href="">Privacy</a><br/>
      </div>
    </div>
  </body>
</html>
